<div class="menu-admin">
        <a href="/admin/libros" class="btn">Gestión de Libros</a>
        <a href="/admin/usuarios" class="btn">Gestión de Usuarios</a>
        <a href="/admin/prestamos" class="btn">Préstamos</a>
        <a href="/admin/prestamos/nuevo" class="btn btn-primary">Nuevo Préstamo</a>
        <a href="/admin/multas"class="btn">Multas</a>
    </div>